*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}
/*navigacja*/
nav{
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
}
nav li{
    display: inline-block;
}
nav li a{
    display: inline-block;
    color: #fff;
    padding: 0 50px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: color .3s;
}
nav li a:hover{
    color: deepskyblue;
}
/*header*/
.header-img{
    position: relative;
    height: 400px;
    
    background-image: url('img/tło.jpg');

    
    background-size:contain;
    background-repeat:repeat;
    background-position: 0 50%;
}
.header-text{
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    z-index:2;
}
.header-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 3,27,0.4);
    
}
header p {
    padding: 3px;
}